<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixiangshequ.repository.ActivityMapper">
    <resultMap id="activityList" type="com.lixiangshequ.domain.Activity">
        <id property="act_id" column="act_id"></id>
        <result property="type" column="type"></result>
        <result property="start_time" column="start_time"></result>
        <result property="end_time" column="end_time"></result>
        <result property="desc" column="desc"></result>
        <result property="state" column="state"></result>
        <association property="publish_id" select="selectPublish" column="publish_id"></association>
    </resultMap>

    <select id="selectPublish" resultType="com.lixiangshequ.domain.User">
        select * from user where uid = #{publish_id}
    </select>

    <select id="selectByActId" resultType="com.lixiangshequ.domain.Activity">
        select * from activity where act_id = ${act_id}
    </select>

    <select id="selectAll" resultMap="activityList">
        select * from activity
    </select>


</mapper>