<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixiangshequ.repository.ProblemMapper" >
  <resultMap id="BaseResultMap" type="com.lixiangshequ.entity.Problem" >
    <id column="problem_id" property="problemId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="bak" property="bak" jdbcType="VARCHAR" />
    <result column="handler_id" property="handlerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    problem_id, type, title, des, status, user_id, time, bak ,handler_id
  </sql>
  <select id="getAllUntreatedProblem" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from problem
    where status = 0
  </select>
  <select id="selectAllProblem" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from problem
  </select>
  <select id="getAllProcessedProblem" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from problem
    where status = 1
  </select>
  <select id="getAllProblemByHandlerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from problem
    where handler_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllProblemByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from problem
    where user_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from problem
    where problem_id = #{problemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from problem
    where problem_id = #{problemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lixiangshequ.entity.Problem" >
    insert into problem (type, title,
      des, status, user_id,
      time, bak)
    values (#{type,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{des,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      now(), #{bak,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lixiangshequ.entity.Problem" >
    insert into problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="problemId != null" >
        problem_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="des != null" >
        des,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="bak != null" >
        bak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="problemId != null" >
        #{problemId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="bak != null" >
        #{bak,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lixiangshequ.entity.Problem" >
    update problem
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="bak != null" >
        bak = #{bak,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=INTEGER},
      </if>
    </set>
    where problem_id = #{problemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lixiangshequ.entity.Problem" >
    update problem
    set type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      bak = #{bak,jdbcType=VARCHAR}
    where problem_id = #{problemId,jdbcType=INTEGER}
  </update>
</mapper>