<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixiangshequ.repository.SpecialCareMapper" >
  <resultMap id="BaseResultMap" type="com.lixiangshequ.entity.SpecialCare" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="idcard_type" property="idcardType" jdbcType="INTEGER" />
    <result column="idcard_number" property="idcardNumber" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="residency" property="residency" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bak" property="bak" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, idcard_type, idcard_number, street, name, sex, birthday, mobile, address, residency, 
    status, bak
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from special_care
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from special_care
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from special_care
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lixiangshequ.entity.SpecialCare" >
    insert into special_care (id, idcard_type, idcard_number, 
      street, name, sex, 
      birthday, mobile, address, 
      residency, status, bak
      )
    values (#{id,jdbcType=INTEGER}, #{idcardType,jdbcType=INTEGER}, #{idcardNumber,jdbcType=VARCHAR}, 
      #{street,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{residency,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{bak,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lixiangshequ.entity.SpecialCare" >
    insert into special_care
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idcardType != null" >
        idcard_type,
      </if>
      <if test="idcardNumber != null" >
        idcard_number,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="residency != null" >
        residency,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bak != null" >
        bak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idcardType != null" >
        #{idcardType,jdbcType=INTEGER},
      </if>
      <if test="idcardNumber != null" >
        #{idcardNumber,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="residency != null" >
        #{residency,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bak != null" >
        #{bak,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lixiangshequ.entity.SpecialCare" >
    update special_care
    <set >
      <if test="idcardType != null" >
        idcard_type = #{idcardType,jdbcType=INTEGER},
      </if>
      <if test="idcardNumber != null" >
        idcard_number = #{idcardNumber,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="residency != null" >
        residency = #{residency,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bak != null" >
        bak = #{bak,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lixiangshequ.entity.SpecialCare" >
    update special_care
    set idcard_type = #{idcardType,jdbcType=INTEGER},
      idcard_number = #{idcardNumber,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      residency = #{residency,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      bak = #{bak,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>