<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="../../res/layui/css/layui.css">
    <link rel="stylesheet" href="../../res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="../../res/images/logo.png" alt="layui">
        </a>

        <ul class="layui-nav fly-nav-user">

            登入后的状态
            <li class="layui-nav-item" th:unless="${session.user==null}">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" th:text="${session.user.getName()}">用户名</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
                    <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a href="user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="/auth/logout/" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs"><a href="/">首页</a></li>
            <li class="layui-this"><a href="http://localhost:8000/activity/all">活动</a></li>
            <li><a href="../../html/jie/index.html">公告<span class="layui-badge-dot"></span></a></li>
            <li><a href="../../html/jie/index.html">优抚对象</a></li>
            <li><a href="../../html/jie/index.html">招聘求职</a></li>
            <li><a href="../../html/jie/index.html">问题</a></li>
            <div th:if="${session.user ne null}" class="layui-inline">
                <li th:if="${session.user.getRole()lt 2}">
                    <a href="/clerk/getManagementMenu">社区管理</a>
                </li>
            </div>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

            <!-- 用户登入后显示 -->
            <!--<li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html">我发表的贴</a></li>-->
            <!--<li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html#collection">我收藏的贴</a></li>-->
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a href="add.html" class="layui-btn">发表新帖</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
            <a href="add.html" class="layui-btn">发表新帖</a>
        </div>
    </div>
</div>

<div>
    <table class="layui-hide" id="test" lay-filter="test" th:name="${ratify}"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<script src="../../res/layui/layui.js"></script>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '../../res/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '../../res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>

<script>
    layui.use('table', function(){
        $ = layui.jquery;
        var table = layui.table;
        var url = "/clerk/selectAllSpecial";
        var name = $('#test').attr('name');
        if ("toAuditSpecial"===name){
            url = "/admin/selectAllNotPass";
        }else if(null!=name){
            url = "/clerk/selectAllSpecialByCondition?condition="+name;
        }
        function change() {
            // var mess = $("#sol").val();
            alert("233");
            // var url = '/clerk/searchPerson';
            // table.reload('tt',{
            //     url: url
            //     ,where: {'mess':mess}
            // })
        }
        table.render({
            elem: '#test'
            ,url: url
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,cols: [
                [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'name', title:'姓名', width:120, edit: 'text'}
                ,{field:'sex', title:'性别', width:80, edit: 'text', sort: true}
                ,{field:'idcardType', title:'证件类型', width:100}
                ,{field:'idcardNumber', title:'证件号码'}
                ,{field:'street', title:'所属街道', width:80, sort: true}
                ,{field:'birthday', title:'生日', width:120}
                ,{field:'residency', title:'户口所在地', width:100, sort: true}
                ,{field:'address', title:'现居住地', width:120}
                ,{field:'status', title:'办理状态', width:120}
                ,{field:'genre', title:'<select id="select" lay-ignore onchange="window.location=this.value">\n'+'<option selected>请选择</option>\n' +'<option value="/clerk/getAllVeteran">退役军人</option>\n' +'<option value="/clerk/getAllOldMan">60岁以上老人</option>\n'+'</select>'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            var status = data.status;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(){
                    obj.del();
                    location.href = "http://localhost:8000/clerk/deleteSpecial?id="+data.id;
                });
            } else if(obj.event === 'edit'){
                location.href = "http://localhost:8000/clerk/findUpdateSpecialById?id="+data.id;
                /*layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    alert(index)
                    layer.close(index);
                });*/
            }
        });
    });
</script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script>
    $(function () {
        function ttt() {

        }
    })
</script>

</body>
</html>


